*.out
*.o
*.dSYM
*.gcov
*.gcda
*.gcno
*.tmp
*.bin
junit-*.xml
cobertura.xml
coverage-html/
docs/
ipch
nearest-neighbor/bin/*
!nearest-neighbor/bin/.gitkeep
nearest-neighbor/lib/*
!nearest-neighbor/lib/.gitkeep

